html{
    overflow-x: hidden;
}
.social {
   background-color:  rgb(255, 187, 0);
   height: 30px;
   z-index: 1;

}
.mainbg{
    height: 100px;
    width: auto;
}

.drpstyle {
    border-radius: 0px;
    border-top-width: 4px;
    border-top-color: rgb(255, 187, 0);
}

.drpstyle a:hover  {
    background-color: rgb(255, 187, 0);
    color: white;
}

.cartext h2 {
    margin-top: -25%;
    animation-delay: 1s;
    
}
.cartext2 h2 {
    animation-delay: 1s;
    
}

.presentation {
    height: 300px;
}

.presentation h2{
    font-family: 'Poppins'
}
.menu-divider {
    height: 10px;
}

.underliner {
    height: 5px;
    margin-top: -10px;
    width: 47.3%;
}

.textbg {
    background-color: rgb(255, 255, 255);
    width: 47.3%;

}

.logotext {
    margin-top: -30%;
    margin-left: 15px;
}

.mobile-divider {
    width: 112.5%;
    margin-left: -15px;
}

.mobtn {
    background-color: rgb(255, 187, 0);
    border-color: rgb(255, 187, 0);
    border-radius: 0px;
    color: black;
    font-weight: 500;
   }
.mobtn:hover {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-radius: 0px;
    color: rgb(255, 255, 255);
    font-weight: 500;
   }

   .clientsh {
       height: 50px;
       color: white;
       
   }

   .homenav {
       transition-delay: 1s;
   }
   .aboutnav {
       transition-delay: 1.3s;
   }
   .sernav {
       transition-delay: 1.6s;
   }
   .contnav {
       transition-delay: 2s;
   }
   
   .skyban img{
       width: 100%;
   }

   .footer {
       height: 60px;
   }

   .menufoot {
       height: 250px
   }

   .hrmenu {
       background-color: grey;
       height: 2px;
   }


   li .nav-item a:hover {
color: rgb(255, 187, 0);
   }

.CorpPeck img {
margin-top: 4%;
margin-left: 40%;

}

.copyright {
color: black;
text-align: center;
}

.slider {
   z-index: 1;
   margin-top: -10%;
}



 a .socialstyle {
   
 }

 /* Only for nav.php */
 